body {
    background-color: #f0f0f0;
}

.staff-list-container {
    background-color: #f0f0f0;
    padding: 30px;
    margin: 50px auto;
    max-width: 900px;
}

.staff-list__header {
    font-size: 26px;
    color: #000000;
    margin-bottom: 35px;
    text-align: left;
    border-left: 6px solid #000000;
    padding-left: 15px;
    padding-bottom: 0;
}

.staff-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.staff-table th,
.staff-table td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.staff-table th {
    background-color: #FFFFFF;
    color: #737373;
    font-weight: bold;
    text-transform: uppercase;
}

.staff-table tbody tr:last-child td {
    border-bottom: none;
}

.staff-table tbody tr {
    background-color: #FFFFFF;
}

.staff-table thead tr th:first-child {
    border-top-left-radius: 10px;
}

.staff-table thead tr th:last-child {
    border-top-right-radius: 10px;
}

.staff-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.staff-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
    border-bottom: none;
}

.detail-button {
    display: inline-block;
    padding: 5px 10px;
    color: #000000;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.detail-button:hover {
    color: #737373;
}

/* レスポンシブ */
@media (max-width: 768px) {
    .staff-list-container {
        padding: 20px;
        margin: 20px auto;
    }

    .staff-table th,
    .staff-table td {
        padding: 8px 10px;
        font-size: 12px;
    }

    .staff-list__header {
        font-size: 20px;
        margin-bottom: 25px;
    }
}