.container {
    background-color: #FFFFFF;
    padding: 40px;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
    margin-top: 30px;
}

.status-message {
    background-color: #FFFFFF;
    color: #0073CC;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.message {
    color: #000000;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 30px;
}

.main-button_div {
    width: 100%;
}

.main-button {
    display: inline-block;
    background-color: #D9D9D9;
    color: #000000;
    padding: 12px 30px;
    border: #000000 1px solid;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.main-button:hover {
    background-color: #B0B0B0;
}

.text-sm {
    color: #777;
    font-size: 0.9em;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
}

.resend-link {
    background: none;
    border: none;
    color: #0073CC;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.95em;
    transition: color 0.3s ease;
    padding: 0;
    margin: 0;
}

.resend-link:hover {
    color: #005999;
}

.inline-block {
    display: inline-block;
    margin-top: 30px;
}